<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%
      if current_article && current_article.data then
        description = current_article.data.excerpt
      else
        description = "Breaking down Artificial Intelligence into its building blocks. Open Source packages for NLP, ML and Statistics in Node JS to build production grade solutions."
      end
    %>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6C307D">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Wink - Stats, NLP & Machine Learning" %></title>

    <%= stylesheet_link_tag "bootstrap.min", "master", "atom-one-dark" %>
    <%= javascript_include_tag  "all" %>
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47082559-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47082559-2');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <script src="https://use.typekit.net/cwc1qce.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "nav" %>
    <%= yield %>
    <%= partial "footer" %>
    <%= partial "highlightCode" %>
  </body>
</html>
