<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" title="wink" class="navbar-brand">
          32
        </a>
        <h1 class="screen-reader-text">Wink JS - NLP, Machine Learning & Stats</h1>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="main-nav">
        <li><%= nav_link "Tutorial", "/wink-nlp/getting-started.html" %></li>
        <li><%= nav_link "Packages", "/packages.html" %></li>
        <li><%= nav_link "Showcase", "/showcase.html" %></li>
        <li><%= nav_link "Blog", "/blog.html" %></li>
        <li><a href="http://github.com/winkjs">Github</a></li>
        <li><%= nav_link "About", "/about.html" %></li>
      </ul>
    </div>
  </nav>
</header>
