<dt>
  <a href="https://www.npmjs.com/package/wink-<%= name %>">
    <%= name.gsub( "-", " " ) %>
  </a>
</dt>
<dd>
  <%= data.packageinfo[name] %>
  <br><br>
  <a class="github-button" href="https://github.com/winkjs/wink-<%= name %>" data-show-count="true" data-icon="octicon-star" aria-label="Star winkjs/wink-<%= name %> on GitHub">Star</a>
  <a class="github-button" href="https://github.com/winkjs/wink-<%= name %>/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch winkjs/wink-<%= name %> on GitHub">Watch</a>
  <br>
  <a href="https://github.com/winkjs/wink-<%= name %>">Github</a>
  <strong>&middot;</strong>
  <a href="http://winkjs.org/wink-<%= name %>/">Documentation</a>
</dd>
