<div class="showcase-block">
  <h2><a href="<%= url %>"><%= name %></a></h2>
  <a href="<%= url %>" target="_blank">
    <img
      src="/images/<%= image %>"
      alt="<%= name %>">
  </a>
  <p><%= description %></p>
</div>
