---
title: Blog
pageable: true
per_page: 5
---

<div class="container blog">
  <div >
    <% page_articles.each do |article| %>
    <article class="col-md-8 col-md-offset-2">
      <h2 class="blog-h1"><a href="<%= article.url %>"><%= article.title %></a></h2>
      <main>
        <a href="<%= article.url %>">
          <img class="blog-feat-img" src="/images/<%= article.data.image %>" alt="<%= article.title %>">
        </a>
        <h3>
          <%= article.data.excerpt %>
          <a href="<%= article.url %>">read more&rarr;</a>
        </h3>
        <hr>
      </main>
    </article>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <center>
        <% if paginate && num_pages > 1 %>
        <% if prev_page %>
        <%= link_to '&larr; Previous page', prev_page %> &middot;
        <% end %>

        Page <%= page_number %> of <%= num_pages %>

        <% if next_page %>
        &middot; <%= link_to 'Next page &rarr;', next_page %>
        <% end %>
        <% end %>
      </center>
      <br><br><br><br>
    </div>
  </div>
</div>
