---
title: Packages - NLP, ML and AI
---

<div id="packages-list">
    <nav class="container">
      <h2 class="col-md-12">Natural Language Processing</h2>
      <img src="/images/nlp-bg.png" alt="" class="bg-img">
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "nlp" } ) %>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "nlp-utils" } ) %>
        <%= partial( :package, :locals => { :name => "tokenizer" } ) %>
        <%= partial( :package, :locals => { :name => "sentiment" } ) %>
        <%= partial( :package, :locals => { :name => "pos-tagger" } ) %>
      </div>
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "porter2-stemmer" } ) %>
        <%= partial( :package, :locals => { :name => "lemmatizer" } ) %>
        <%= partial( :package, :locals => { :name => "jaro-distance" } ) %>
      </div>
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "lexicon" } ) %>
        <%= partial( :package, :locals => { :name => "ner" } ) %>
        <%= partial( :package, :locals => { :name => "bm25-text-search" } ) %>
      </div>

      <h2 class="col-md-12">Machine Learning</h2>
      <img src="/images/ml-bg.png" alt="" class="bg-img">
      <div class="clearfix"></div>
      <div class="col-md-4">
        <dl>
          <%= partial( :package, :locals => { :name => "naive-bayes-text-classifier" } ) %>
          <%= partial( :package, :locals => { :name => "perceptron" } ) %>
        </dl>
      </div>

      <div class="col-md-4">
        <dl>
          <%= partial( :package, :locals => { :name => "regression-tree"  } ) %>
        </dl>
      </div>

      <div class="col-md-4">
        <dl>
          <%= partial( :package, :locals => { :name => "distance" } ) %>
        </dl>
      </div>

      <h2 class="col-md-12">Statistics</h2>
      <img src="/images/stats-bg.png" alt="" class="bg-img">
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "statistics" } ) %>
      </div>
      <div class="col-md-4">
        <%= partial( :package, :locals => { :name => "helpers" } ) %>
      </div>
    </nav>
    <br><br>
  </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
